@model object

@{
    ViewBag.Title = "Неудачная попытка входа";
    Layout = "_Layout";
}

    <div id="background">
        <span class="tagline">СВОИ ВСЕГДА <span style="font-weight: bold;">ONLINE</span></span>

        <div id="form-login">
            <div id="form-container">
                <h1 id="login-header-text">Неудачная попытка</h1>

                <a class="main-block-link" style="text-align:center" href="Login">Попробовать ещё раз</a>
            </div>
        </div>
    </div>
