@model object

@{
    ViewBag.Title = "Неудачная попытка входа";
    Layout = "_Layout";
}

    <h1>Неудачная попытка регистрации</h1>
    <div class="text-center">
        <a class="btn btn-lg btn-primary btn-block" href="Login">Попробовать ещё раз</a>
    </div>
