

    <form class="text-center" asp-controller="Home" asp-action="Question">
        <h1 class="h3 mb-3 font-weight-normal">Введите свой номер телефона</h1>
        <input type="phoneNumber" name="forgottenPhone" id="forgottenPhoneNumber" class="form-control" placeholder="Номер телефона" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
@*<div class="text-center">

    <h1 class="h3 mb-3 font-weight-normal">Сброс пароля</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <label  name="Question" id="Question" class="form-control">@User.</label>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="passwordHolder" class="form-control" placeholder="Пароль" required="">
    <input type="hidden" id="loginPassHash" name="passwordHash" />

    <a class="btn btn-lg" asp-controller="Home" asp-action="DropPassword">Сброс пароля</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">© Hackaton - 2019</p>
</div> *@
<script>
    $("#forgottenPhoneNumber").mask("+7 (999) 999-99-99");
</script>
