
<div id="background">
    <div id="form-login">
        <form asp-controller="Home" asp-action="Question">
            <div id="form-container">
                <h1 id="login-header-text">Введите свой номер телефона</h1>
                <input type="text" name="forgottenPhone" id="forgottenPhoneNumber" class="form-input" placeholder="Номер телефона" required="">
                <button id="form-button" type="submit">Сменить пароль</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#forgottenPhoneNumber").mask("+7 (999) 999-99-99");
</script>
