@model object

@{
    ViewBag.Title = "Авторизация";
    Layout = "_Layout";
}

    <div id="background">
        <div id="form-login">
            <form onsubmit="return onLoginSubmit()" asp-controller="Home" asp-action="Login" method="post">
                <div id="form-container">
                    <h1 id="login-header-text">Войдите в систему</h1>
                    <input type="text" name="phone" id="phoneHolder" class="form-input" placeholder="Введите номер телефона" required="" autofocus="">

                    <input type="password" id="passwordHolder" class="form-input" placeholder="Введите пароль" required="">
                    <input type="hidden" id="loginPassHash" name="passwordHash" />

                    <a class="main-block-link" style="text-align:center" asp-controller="Home" asp-action="DropPassword">Сброс пароля</a>
                    <button id="form-button" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
<script>
    $("#phoneHolder").mask("+7 (999) 999-99-99");
</script>
