@model Hackathon.Models.DbUser


    <div id="background">
        <span class="tagline">СВОИ ВСЕГДА <span style="font-weight: bold;">ONLINE</span></span>

        <div id="form-login">
            <div id="form-container">
                <form onsubmit="return onDropSubmit()" method="post" asp-controller="Home" asp-action="AskQuestion">
                    <h1 id="login-header-text">Сброс пароля</h1>
                    <h2 id="login-header-text2">@Model.SecretQuestion</h2>

                    <input type="password" id="ans" class="form-input" placeholder="Введите ответ" required="">
                    <input type="hidden" name="answ" id="answer" />

                    <input type="hidden" name="passwordHash" id="pass" />
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="password" id="password" class="form-input" placeholder="Введите новый пароль" required="">

                    <button id="form-button" type="submit">Сброс пароля</button>
                </form>
            </div>
        </div>
    </div>