@model Hackathon.Models.DbUser

<form class="text-center" onsubmit="return onDropSubmit()"  method="post" asp-controller="Home" asp-action="AskQuestion">

    <h1 class="h3 mb-3 font-weight-normal">Сброс пароля</h1>
    <label  id="Question" class="form-control"> @Model.SecretQuestion</label>
    <label class="sr-only">Password</label>
    <input type="password" id="ans" class="form-control" placeholder="Ответ" required="">
    <input type="hidden" name="answ" id="answer"/>
    <input type="hidden" name="passwordHash" id="pass" />
    <input type="hidden" name="id" value="@Model.Id"/>
    <input type="password" id="password" class="form-control" placeholder="Пароль" required="">
    <button class="btn btn-lg">Сброс пароля</button>
    <p class="mt-5 mb-3 text-muted">© Hackaton - 2019</p>
</form>
